---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
gql: "query StickerCategories {
    site {
        categoryTree(rootEntityId:{{theme_settings.stickers_root_id}}) {
            ...CategoryFields
            children {
                ...CategoryFields
            }
        }
    }
}
fragment CategoryFields on CategoryTreeItem {
    name
    entityId
    image {
        urlOriginal
    }
}"
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
    {{> components/common/responsive-img
        image=category.image
        fallback_size=theme_settings.zoom_size
        lazyload=theme_settings.lazyload_mode
        class="category-header-image"
    }}
{{/if}}
{{#unless theme_settings.hide_category_page_heading }}
    <h1 class="page-heading">{{category.name}}</h1>
    {{{region name="category_below_header"}}}
{{/unless}}
{{{category.description}}}
<div class="page">
    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
             <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{/if}}
    {{/if}}

    <div class="page-content" id="product-listing-container">
        {{> components/category/product-listing}}
        {{{region name="category_below_content"}}}
    </div>
</div>

{{/partial}}
{{#partial "page_bottom"}}
<style>
article.card {
    position: relative;
}
.product-stickers {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    flex-direction: row;
}
.product-stickers__sticker {
    width: 32px;
    height: auto;
}
</style>
<script>
    const StickerData = JSON.parse(`{{{json gql.data.site.categoryTree}}}`);
    window.addEventListener('load', function() {
        const productCards = document.querySelectorAll('article.card');
        if (StickerData) {
            productCards.forEach((product) => {
                // Parse category from data-product-category attribute
                const categories_text = product.getAttribute('data-product-category');
                const categories = categories_text.split(',').map(item => item.trim());
                let productHasStickers = false;
                // check if product has any sticker categories
                categories.forEach((category) => {
                    StickerData[0].children.forEach((sticker) => {
                        if (category === sticker.name) {
                            // Create sticker container and append to product card element
                            if (!productHasStickers) {
                                const containerEl = document.createElement('div');
                                containerEl.setAttribute('class', 'product-stickers');
                                product.appendChild(containerEl);
                                productHasStickers = true;
                            }
                            // Create the <div> element with class "product-stickers__sticker"
                            const stickerEl = document.createElement('div');
                            stickerEl.setAttribute('class', 'product-stickers__sticker');
                            
                            // Create the <img> element with its attributes
                            const stickerImgEl = document.createElement('img');
                            stickerImgEl.setAttribute('src', sticker.image.urlOriginal);
                            stickerImgEl.setAttribute('alt', `${sticker.name} icon`);
                            stickerImgEl.setAttribute('data-sticker-id', sticker.entityId);
                            
                            // Append the <img> element as a child of the <div> element
                            stickerEl.appendChild(stickerImgEl);
                            product.querySelector('div.product-stickers').appendChild(stickerEl);
                        }
                    })
                });
            });
        }
    });
</script>
{{/partial}}
{{> layout/base}}
